body{
    font-family: Lato;
    font-size: 14px;
    line-height: 1;
    color: #636eff;
    background-color: #ffeb8a;
}
h2{
    color:red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 5px;
}
p{
    color:blue;
    background-color: azure;
}
